# PingFederate credentials
PING_CLIENT_ID=your_ping_client_id_here
PING_CLIENT_SECRET=your_ping_client_secret_here

# Stellantis DGT API credentials
DGT_CLIENT_ID=your_dgt_client_id_here
DGT_CLIENT_SECRET=your_dgt_client_secret_here
