# PingFederate credentials
PING_CLIENT_ID=your_ping_client_id_here
PING_CLIENT_SECRET=your_ping_client_secret_here


# Stellantis DGT API credentials
DGT_CLIENT_ID=your_dgt_client_id_here
DGT_CLIENT_SECRET=your_dgt_client_secret_here

# Aurora PostgreSQL "wiadvisor" (woc.jobcard_sync_activity, scritta da saveJobcard)
JOBCARD_DB_HOST=your_rds_proxy_endpoint_here
# In Lambda user/password arrivano dal secret (JOBCARD_DB_SECRET_ID); in locale si possono passare direttamente
JOBCARD_DB_SECRET_ID=sm-np-bsn0027990-dev-aurora-app
# JOBCARD_DB_USER=wiadvisor_app
# JOBCARD_DB_PASSWORD=your_db_password_here
# JOBCARD_DB_PORT=5432
# JOBCARD_DB_NAME=wiadvisor
# JOBCARD_DB_SSL=true
