# PingFederate credentials (stesso client di jobcard)
JOBCARD_PING_CLIENT_ID=your_ping_client_id_here
JOBCARD_PING_CLIENT_SECRET=your_ping_client_secret_here

# Stellantis DGT API credentials
DGT_CLIENT_ID=your_dgt_client_id_here
DGT_CLIENT_SECRET=your_dgt_client_secret_here

# Aurora PostgreSQL "wiadvisor" (woc.jobcard_sync_activity, scritta da saveJobcard)
DJC_DB_HOST=your_rds_proxy_endpoint_here
# In Lambda user/password arrivano dal secret (DJC_DB_SECRET_ID); in locale si possono passare direttamente
DJC_DB_SECRET_ID=sm-np-bsn0027990-dev-aurora-app
# DJC_DB_USER=wiadvisor_app
# DJC_DB_PASSWORD=your_db_password_here
# DJC_DB_PORT=5432
# DJC_DB_NAME=wiadvisor
# DJC_DB_SSL=true

# REST privato tra servizi (AWS_IAM / SigV4; nessuna credenziale agendaSoaNaga)
WOC_INTERNAL_API_URL=https://<private-api-id>.execute-api.eu-west-1.amazonaws.com/wia
WOC_INTERNAL_TIMEOUT_MS=25000
