# PingFederate credentials
PING_CLIENT_ID=your_ping_client_id_here
PING_CLIENT_SECRET=your_ping_client_secret_here

# Stellantis DML API credentials
DML_IBM_CLIENT_ID=your_ibm_client_id_here
DML_IBM_CLIENT_SECRET=your_ibm_client_secret_here
DML_X_TARGET_ENV=stage
