# PingFederate credentials
PING_CLIENT_ID=your_ping_client_id_here
PING_CLIENT_SECRET=your_ping_client_secret_here

# Stellantis DML API credentials
DML_IBM_CLIENT_ID=your_ibm_client_id_here
DML_IBM_CLIENT_SECRET=your_ibm_client_secret_here
DML_X_TARGET_ENV=stage

# ApplicationArea.Sender (used in CLI inquiry command, all optional)
DML_SENDER_COMPONENT_ID=1.0.0
DML_SENDER_DEALER_ID=0710736
DML_SENDER_DEALER_ID_SRC=0710736
DML_SENDER_COUNTRY=DE
DML_SENDER_LANGUAGE=de-DE
DML_SENDER_SITE_ID=00007532
DML_SENDER_SERVICE_ID=DE-0710736.D001
DML_SENDER_CURRENCY=EUR
DML_SENDER_BRAND=AP
